.description {
padding-top: 50px;
font-size: 1.6rem;



}

.boxes {
    
    margin-top: 3rem;
    margin-bottom: 3rem;
 display: flex;
 
justify-content: space-around;

}

.box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 5px;
   height: 11rem;
   width: 25rem;
   font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;

}
.title {
    font-size: 1.4rem;
    font-weight:700;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-align: center;
    
}
.table{
    text-align: left;
    font-size: 1.05rem;
    padding-left: 90px;
   
}
.name{
    padding-right: 10px;
    font-weight: 600;
}